;;;
;;; shadow-cljs configuration.
;;;
;;; https://shadow-cljs.github.io/docs/UsersGuide#config
;;;
{:deps
 {:aliases
  [:cljs]}

 :node-modules
 {:managed-by
  :npm}

 :builds
 {:main
  {:target
   :esm-files

   :output-dir
   "outputs/main/cljs"

   :entries
   [test-clojurescript-esm.ohms-law]

   :js-options
   {:js-provider
    :import}}}}
